<h1>Carrito</h1>


{{#if mostrarCarrito}}
     <div class="card-container prevent-select">
          {{#each productos}}
               <div class="card" style="width: 16rem;">
                    <div>
                         <h3> {{this.title}} </h3>
                         <img class="card-img-top" src="{{this.image}}" className="card-img-top" alt="{{this.title}}" draggable="false">
                         <div> {{ this.description }} </div>
                         <div> ${{this.price}} </div>
                    </div>
               </div>
          {{/each}}
     </div>
{{else}}
     <p>No hay productos</p>
{{/if}}